@{
    ViewData["Title"] = "Home Page";
}


<div class="top-container">

    <div class="top-feature">
        <button><a href="https://www.youtube.com/results?search_query=romance+movies" target="_blank">Romance</a></button>
    </div>
    <div class="top-feature">
        <button><a href="https://www.youtube.com/results?search_query=trending+movies" target="_blank">Trending</a></button>
    </div>
    <div class="top-feature">
        <button><a href="https://www.youtube.com/results?search_query=action+movies" target="_blank">Action</a></button>
    </div>
    <div class="top-feature">
        <button><a href="https://www.youtube.com/results?search_query=sci+fi+movies+2022" target="_blank">Sci-Fi</a></button>
    </div>
    <div class="top-feature">
        <button><a href="https://www.youtube.com/results?search_query=horror+movies" target="_blank">Horror</a></button>
    </div>
    <div class="top-feature">
        <button> <a href="https://www.youtube.com/results?search_query=fantasy+movies" target="_blank">Fantasy</a></button>
    </div>
    <div class="top-feature">
        <button> <a href="https://www.youtube.com/results?search_query=thriller+movies+2021+full+movie+" target="_blank">Thriller</a></button>
    </div>
    <div class="top-feature">
        <button><a href="https://www.youtube.com/results?search_query=Nigeriamusic" target="_blank">Music Videos</a></button>
    </div>
    <div class="top-feature">
        <button> <a href="https://www.youtube.com/results?search_query=crime++movie+" target="_blank">Crime</a></button>
    </div>

</div>

<h2> Top picks for you</h2>
<div class="flex-container">
    <div>
        <img class="top-image" src="~/image/toronto.jpg" />
        <h3> The Man from Toronto</h3>
        <button><a href="https://youtu.be/urqy8DrcGBs" target="_blank">Click To Watch</a></button>
    </div>

    <div>
        <img class="top-image" src="~/image/along for the ride.jpg" />
        <h3>Along for the ride</h3>
        <button><a href="https://youtu.be/A1PTIxYrTVw" target="_blank">Click To Watch</a></button>
    </div>

    <div>
        <img class="top-image" src="~/image/Red_Notice.jpg" />
        <h3>Red Notice</h3>
        <button><a href="https://youtu.be/T6l3mM7AWew" target="_blank">Click To Watch</a></button>
    </div>

    <div>
        <img class="top-image" src="~/image/ile owo.jpg" />
        <h3>Ile Owo</h3>
        <button><a href="https://youtu.be/M-Jm-537zz8" target="_blank">Click To Watch </a></button>
    </div>

    <div>
        <img class="top-image" src="~/image/The_Gray_Man.jpg" />
        <h3>The Gray Man</h3>
        <button><a href="https://youtu.be/BmllggGO4pM" target="_blank">Click To Watch</a></button>
    </div>

    <div>
        <img class="top-image" src="~/image/Mean_Girls.jpg" />
        <h3>Mean Girls</h3>
        <button><a href="https://youtu.be/EMzEmGfTuM4" target="_blank">Click To Watch</a></button>
    </div>

    <div>
        <img class="top-image" src="~/image/Chips_film_poster.jpg" />
        <h3>Chips</h3>
        <button><a href="https://youtu.be/nmgeiznfdLI" target="_blank">Click To Watch</a></button>
    </div>
    <div>

        <img class="top-image" src="~/image/OutsideTheWire.jpeg" />
        <h3>Outside the Wire</h3>
        <button><a href="https://youtu.be/u8ZsUivELbs" target="_blank">Click To Watch</a></button>
    </div>
</div>

<h2> Trending</h2>
<div class="flex-container2">
    <div>
        <img class="top-image" src="~/image/Below zero.jpg" />
        <h3>Below Zero</h3>
        <button><a href="https://youtu.be/UCLz92vUYJY" target="_blank">Click To Watch</a></button>
    </div>

    <div>
        <img class="top-image" src="~/image/Resort to love.jpg" />
        <h3>Resort to love</h3>
        <button><a href="https://youtu.be/6fcnG6-L4Cc" target="_blank">Click To Watch</a></button>
    </div>

    <div>
        <img class="top-image" src="~/image/Red_Notice.jpg" />
        <h3>Red Notice</h3>
        <button><a href="https://youtu.be/T6l3mM7AWew" target="_blank">Click To Watch </a></button>
    </div>

    <div>

        <img class="top-image" src="~/image/Venom_.jpg" />
        <h3>Venom</h3>
        <button><a href="https://youtu.be/-FmWuCgJmxo" target="_blank">Click To Watch </a></button>
    </div>

    <div>
        <img class="top-image" src="~/image/The_Gray_Man.jpg" />
        <h3>The Gray Man</h3>
        <button><a href="https://youtu.be/BmllggGO4pM" target="_blank">Click To Watch </a></button>
    </div>
    <div>
        <img class="top-image" src="~/image/Chips_film_poster.jpg" />
        <h3>Chips</h3>
        <button><a href="https://youtu.be/nmgeiznfdLI" target="_blank">Click To Watch</a></button>
    </div>

    <div>

        <img class="top-image" src="~/image/Sweet_Girl_(film).jpg" />
        <h3>Sweet Girl</h3>
        <button><a href="https://youtu.be/NiFuJV2GLkY" target="_blank">Click To Watch </a></button>
    </div>
</div>
<div class="last-para">
    <h4>MovieDom</h4>
    <p>2084 Delaware Avenue, Lagos, Nigeria.</p>
</div>
